<!DOCTYPE html>
<html>
  <head>
    <title>PageSpecificVue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'tab_component' %>
    <%= stylesheet_pack_tag 'tab_component' %>
    <%= javascript_pack_tag 'table' %>
    <%= stylesheet_pack_tag 'table' %>
  </head>

  <body class="<%= page_specific_vue %>">
    <%= yield %>
  </body>
</html>
