<h1>Profile</h1>
<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar, direct_upload: true, accept: "image/*" %>
    <div id="cropper"></div>
  </div>
  <%= f.submit class: 'btn btn-outline-dark' %>
<% end %>